<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>project3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F61617CD1D7E96DB000DCF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F61617E11D7E96DC000DCF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F61617EC1D7E96DC000DCF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
